@font-face {
    font-family: 'Lemon Milk Bold';
    src: url('../fonts/LEMONMILK-Bold.otf');
}
@font-face {
    font-family: 'Lemon Milk';
    src: url('../fonts/LemonMilk.otf');
}

@font-face {
    font-family: 'Lemon Milk Bold Italic';
    src: url('../fonts/LEMONMILK-BoldItalic.otf');
}
@font-face {
    font-family: 'Lemon Milk Light';
    src: url('../fonts/LEMONMILK-Light.otf');
}
@font-face {
    font-family: 'Lemon Milk Light Italic';
    src: url('../fonts/LEMONMILK-LightItalic.otf');
}
@font-face {
    font-family: 'Lemon Milk Medium';
    src: url('../fonts/LEMONMILK-Medium.otf');
}
@font-face {
    font-family: 'Lemon Milk Medium Italic';
    src: url('../fonts/LEMONMILK-MediumItalic.otf');
}
@font-face {
    font-family: 'LemonMilkRegular';
    src: url('../fonts/LEMONMILK-Regular.otf');
}
@font-face {
    font-family: 'Lemon Milk Regular Italic';
    src: url('../fonts/LEMONMILK-RegularItalic.otf');
}


#labelNomPage {
    -fx-font-family: "Lemon Milk Regular";
    -fx-font-size: 12;
}

.button {
    -fx-font-family: "Lemon Milk Regular";
    -fx-font-size: 14;
    -fx-background-color:  #bf154e;
    -fx-background-radius: 12;
    -fx-cursor: hand;


}

.boutonCarre {
-fx-min-width: 40px;
-fx-min-height: 40px;
-fx-max-width: 40px;
-fx-max-height: 40px;
-fx-background-color: #b8bfbe;
-fx-border-color: transparent;
-fx-text-fill: white;
-fx-font-size: 13;
-fx-font-family: "Lemon Milk Regular";
-fx-background-radius: 3;
}


.boutonCarreBEAU {
    -fx-min-width: 40px;
    -fx-min-height: 40px;
    -fx-max-width: 40px;
    -fx-max-height: 40px;
    -fx-background-color: #1E7217;
    -fx-border-color: transparent;
    -fx-text-fill: white;
    -fx-font-size: 13;
    -fx-font-family: "Lemon Milk Regular";
    -fx-background-radius: 3;
}

.boutonCarreinutile {
    -fx-min-width: 40px;
    -fx-min-height: 40px;
    -fx-max-width: 40px;
    -fx-max-height: 40px;
    -fx-border-radius: 3;
    -fx-background-color: #ffffff;
    -fx-text-fill: black;
    -fx-font-size: 13;
    -fx-font-family: "Lemon Milk Regular";
    -fx-border-width: solid 1px;
    -fx-border-color: #4a4848;

}




.button:hover{
    -fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-background-radius: 3px, 3px, 2px, 1px;
    -fx-padding: 0.333333em 0.666667em 0.333333em 0.666667em; /* 4 8 4 8 */
    -fx-text-fill: -fx-text-base-color;
    -fx-alignment: CENTER;
    -fx-content-display: LEFT;
}

.title {
    -fx-font-family: "Lemon Milk Regular";
    -fx-font-size: 39;
}

.form-label{
    -fx-font-family: "Lemon Milk Regular";
    -fx-font-size: 16;
}

.text-field{
    -fx-font-family: "Lemon Milk Regular";
    -fx-font-size: 14;
    -fx-min-width: 40;
    -fx-min-height: 40;
}

.text-field{
    -fx-font-family: "Lemon Milk Regular";
    -fx-font-size: 14;
    -fx-min-width: 40;
    -fx-min-height: 40;
}

.navbar-blue{
    -fx-background-color: linear-gradient(to right, #0E3A53, #15ABA7);

}











.list-cell {
    -fx-background-color: #f4f4f4;
    -fx-padding: 10px;
    -fx-font-size: 14px;
    -fx-font-family: "Arial";
    -fx-border-color: #dcdcdc;
    -fx-border-width: 0 0 1 0;
}

.list-cell:hover {
    -fx-background-color: #e0e0e0;
}

.button-menu {
    -fx-background-color: #fff;
    -fx-background-radius: 15;
    -fx-border-style: none;
    -fx-font-size: 18px;
}

.list-view {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}